@import '../../utilities.scss';

.footer {
  background-color: $footer-color;

  &__container {
    @include container;
    @include grid;

    padding: 60px $padding-sides-page;
  }

  &__address {
    grid-column: 1 / 4;

    display: flex;
    flex-direction: column;

    @include lapTop {
      grid-column: 2 / 6;

      margin-bottom: 32px;
    }
  }

  &__contacts {
    grid-column: 4 / 6;

    display: flex;
    flex-direction: column;

    @include lapTop {
      grid-column: 2 / 6;
    }
  }

  &__social {
    grid-column: 7 / 9;

    display: flex;
    flex-direction: column;

    @include lapTop {
      grid-column: 8 / -1;
      grid-row: 1 / 2;

      margin-bottom: 32px;
    }
  }

  &__develop {
    grid-column: 10 / -1;

    display: flex;
    flex-direction: column;

    @include lapTop {
      grid-column: 8 / -1;
    }
  }

  &__name {
    line-height: 150%;

    color: $active-color;

    margin-bottom: 8px;
  }

  &__link {
    line-height: 150%;

    color: $active-color;

    &--linkedin, 
    &--facebook {
      width: 32px;
      height: 32px;

      transition: transform 0.3s;

      &:hover {
        transform: scale(1.1);
      }
    }

    &--linkedin {
      background-image: url(../../images/footer/linkedin-icon.svg);

      margin-right: 8px;
    }

    &--facebook {
      background-image: url(../../images/footer/facebook-icon.svg);
    }

    &--linkedin-develop {
      text-decoration: underline;
    }
  }

  &__social-icons {
    display: flex;
  }
}