html {
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  height: 100%;
}

body {
  height: 100%;
}

#root {
  height: 100%;
}

.App {
  overflow: hidden;

  min-height: 100%;

  display: flex;
  flex-direction: column;

  &__main {
    flex: 1 1 auto;
  }
}