@font-face {
  font-family: 'Kharkiv';
  src: url('fonts/Kharkiv\ Tone\ 04.10.2020.ttf');
  font-weight: 400;
}

$title-font: 'Kharkiv';

$font-main-color: #595d6a;
$button-color: #0173db;
$active-color: #152356;
$footer-color: #def9ff;
$disabled-color: #d7dae4;
$error-color: #d15f4f;

$padding-top-page: 128px;
$padding-sides-page: 40px;

@mixin container {
  max-width: 1280px;
  margin: 0 auto;
}

@mixin grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 24px;
}

@mixin title($font-size: 90px) {
  color: $active-color;
  font-family: $title-font;
  font-size: $font-size;
  line-height: 110%
}

@mixin text {
  color: $font-main-color;
  line-height: 150%;
  font-size: 17px;
}

@mixin name {
  color: $font-main-color;
  line-height: 150%;
  text-transform: uppercase;
}

@mixin card {
  border: 1px solid $disabled-color;
  border-radius: 16px;

  width: 282px;
  height: 180px;
  padding: 16px;

  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin cardLoop($items, $selector) {
  width: 100%;
  height: 100%;

  transition: background .3s ease;

  @each $num, $logo, $hover in $items {
    &--#{$num} {
      background-image: $logo;
      background-repeat: no-repeat;
      background-position: center;

      .#{$selector}:hover & {
        background-image: $hover;
        transform: scale(1.1);
      }
    }
  }
}

@mixin field-form {
  outline: none;

  padding: 16px;

  border-radius: 8px;
  border: 1px solid #152356;

  box-shadow: 0 0 2px 0 $font-main-color;

  transition: all 0.3s;

  &:hover {
    background-color: $footer-color;
  }

  &:focus {
    border: 2px solid $button-color;
    box-shadow: inset 0 0 2px 0 $button-color;
    background-color: transparent;

    transition: all 0s;
  }

  &--error {
    border: 2px solid $error-color;
    box-shadow: 0 0 2px 0 $error-color;
    transition: all 0s;
  }

  &--error:hover {
    background-color: transparent;
  }

  &--error:focus {
    border: 2px solid $error-color;
    box-shadow: 0 0 2px 0 $error-color;
    transition: all 0s;
  }
}