@import '../../utilities.scss';

.form {
  display: flex;
  flex-direction: column;

  &__label {
    display: flex;
    flex-direction: column;

    margin-bottom: 32px;
  }

  &__name {
    color: #152356;
    font-size: 16px;
    line-height: 150%;

    margin-bottom: 8px;
  }

  &__wrapper-input {
    position: relative;
  }

  &__input {
    @include field-form;
    
    width: 100%;
    height: 70px;

    &:-webkit-autofill ~ span,
    &:-webkit-autofill:hover ~ span, 
    &:-webkit-autofill:focus ~ span {
      display: none;
    }

    &:-webkit-autofill,
    &:-webkit-autofill:hover, 
    &:-webkit-autofill:focus{
      transition: background-color 5000s ease-in-out 0s;
    }
  }

  &__input-cross {
    display: inline-block;
    width: 24px;
    height: 24px;

    background-image: url(../../images/Form/cross.svg);

    cursor: pointer;

    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);

    &--error {
      background-image: url(../../images/Form/error_cross.svg);
    }
  }

  &__textarea {
    @include field-form;

    width: 100%;
    height: 212px;

    background-image: url(../../images/Form/resize.svg);
    background-repeat: no-repeat;
    background-size: 44px 44px;
    background-position: right -10px bottom -8px;

    resize: vertical;
    transition: resize 0s;

    &::-webkit-resizer {
      display: none;
    }
  }

  &__success {
    transform: scale(0);
    transform-origin: top center;

    background-color: $footer-color;
    border-radius: 8px;
    padding: 16px;

    margin-bottom: 40px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    transition: all .5s;

    &--show-success {
      transform: scale(1);
    }

    &--show-error {
      transform: scale(1);
      background-color: transparent;
      border: 2px solid $error-color;
    }

    &--show-error .form__success-cross {
      display: none;
    }

   &--show-error .form__success-text {
      color: $error-color;
    }
  }

  &__success-text {
    color: $active-color;
    font-size: 16px;
    line-height: 150%;
  }

  &__success-cross {
    width: 16px;
    height: 16px;

    background-image: url(../../images/Form/cross-success.png);
    background-repeat: no-repeat;
    background-position: center;

    cursor: pointer;
  }
}