@import '../../utilities.scss';

.swiper {
  padding: 0 3.7% 70px !important;
}

.swiper-pagination-bullets {
  display: flex !important;
  justify-content: center !important;

  gap: 16px !important;
}

.swiper-pagination-bullet {
  width: 24px !important;
  height: 24px !important;
  background-color: $disabled-color !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  background-color: $active-color !important;
}