@import '../../utilities.scss';

.contacts {
  @include container;

  padding: $padding-top-page $padding-sides-page 0;

  @include grid;

  &__title {
    @include title();

    grid-column: 2 / 8;

    margin-bottom: 60px;

    @include more-deskTop {
      margin-bottom: 80px;
    }

    @include deskTop4k {
      @include title(120px);
    }

    @include lapTop {
      @include title(70px);
    }

    @include tablet {
      @include title(60px);

      grid-column: 1 / 8;
    }

    @include mobile {
      @include title(40px);

      grid-column: 1 / 5;

      margin-bottom: 30px;
    }
  }

  &__type {
    grid-column: 2 / 6;

    display: flex;
    flex-direction: column;

    margin-bottom: 32px;

    @include more-deskTop {
      margin-bottom: 40px;
    }

    @include lapTop {
      grid-column: 1 / 5;
    }

    @include tablet {
      margin-bottom: 100px;
    }

    @include mobile {
      grid-column: 1 / 5;

      margin-bottom: 32px;
    }

    &--address {
      padding-right: 15px;

      @include tablet {
        grid-column: 2 / 6;
      }

      @include pre-mobile {
        grid-column: 1 / 5;
      }
    }

    &--email {
      @include tablet {
        grid-column: 6 / 9;
        grid-row: 2 / 3;
      }

      @include pre-mobile {
        grid-column: 5 / 8;
      }

      @include mobile {
        grid-column: 1 / 5;
        grid-row: 3 / 4;
      }
    }

    &--phone {
      @include tablet {
        grid-column: 6 / 10;
        grid-row: 2 / 3;

        margin-top: 60px;
      }

      @include pre-mobile {
        grid-column: 5 / 10;
      }

      @include mobile {
        grid-column: 1 / 5;
        grid-row: 3 / 4;
      }
    }

    &--social {
      @include tablet {
        grid-column: 10 / 13;
        grid-row: 2 / 3;
      }

      @include mobile {
        grid-column: 1 / 5;
        grid-row: 4 / 5;

        margin-bottom: 60px;
      }
    }
  }

  &__name {
    @include name;

    margin-bottom: 8px;

    @include more-deskTop {
      font-size: 20px;
    }

    @include deskTop4k {
      font-size: 24px;
    }

    &--contacts {
      display: none;

      @include tablet {
        display: inline-block;
      }
    }

    &--email {
      @include tablet {
        display: none;
      }
    }

    &--phone {
      @include tablet {
        display: none;
      }
    }
  }

  &__social-icons {
    display: flex;
  }

  &__link {
    @include text;

    color: $active-color;

    &--linkedin, 
    &--facebook {
      width: 32px;
      height: 32px;

      background-size: contain;

      transition: transform 0.3s;

      @include more-deskTop {
        width: 36px;
        height: 36px;
      }

      @include deskTop4k {
        width: 40px;
        height: 40px;
      }

      &:hover {
        transform: scale(1.1);
      }
    }

    &--linkedin {
      background-image: url(../../images/footer/linkedin-icon.svg);

      margin-right: 8px;

      @include more-deskTop {
        margin-right: 16px;
      }
    }

    &--facebook {
      background-image: url(../../images/footer/facebook-icon.svg);
    }
  }

  &__question {
    grid-column: 7 / 13;
    grid-row: 2 / 8;

    @include deskTop4k {
      grid-column: 8 / 13;
    }

    @include lapTop {
      grid-column: 6 / 13;
    }

    @include tablet {
      grid-row: 3 / 4;
      grid-column: 2 / 12;
    }

    @include mobile {
      grid-column: 1 / 5;
      grid-row: 5 / 6;
    }
  }

  &__subtitle {
    color: $active-color;
    font-size: 32px;
    line-height: 150%;

    margin-bottom: 24px;

    @include deskTop4k {
      font-size: 40px;
    }
  }

  &__form {
    margin-bottom: 100px;

    @include lapTop {
      margin-bottom: 50px;
    }

    @include tablet {
      margin-bottom: 20px;
    }

    @include pre_mobile {
      margin-bottom: 30px;
    }
  }

  &__map-box {
    grid-column: 1 / 13;

    height: 800px;

    position: relative;

    @include more-deskTop {
      height: 600px;
    }

    @include lapTop {
      height: 600px;
    }

    @include pre-mobile {
      height: 500px;
    }

    @include mobile {
      grid-column: 1 / 5;

      height: 350px;
    }
  }

  &__map {
    position: absolute;
  }

  &__parallax-box {
    grid-column: 1 / 7;

    position: relative;
    z-index: -10;

    @include lapTop {
      grid-column: 1 / 6;
    }

    @include tablet {
      grid-row: 3 / 4;
    }

    @include mobile {
      grid-column: 1 / 5;
    }
  }

  &__parallax {
    position: absolute;
  }
}