@import '../../utilities.scss';

.contacts {
  @include container;

  padding: $padding-top-page $padding-sides-page 0;

  @include grid;

  &__title {
    @include title();

    grid-column: 2 / 8;

    margin-bottom: 60px;
  }

  &__type {
    grid-column: 2 / 6;

    display: flex;
    flex-direction: column;

    margin-bottom: 32px;

    &--address {
      padding-right: 15px;
    }
  }

  &__name {
    @include name;

    margin-bottom: 8px;
  }

  &__social-icons {
    display: flex;
  }

  &__link {
    @include text;

    color: $active-color;

    &--linkedin, 
    &--facebook {
      width: 32px;
      height: 32px;

      transition: transform 0.3s;

      &:hover {
        transform: scale(1.1);
      }
    }

    &--linkedin {
      background-image: url(../../images/footer/linkedin-icon.svg);

      margin-right: 8px;
    }

    &--facebook {
      background-image: url(../../images/footer/facebook-icon.svg);
    }
  }

  &__question {
    grid-column: 7 / 13;
    grid-row: 2 / 8;
  }

  &__subtitle {
    color: $active-color;
    font-size: 32px;
    line-height: 150%;

    margin-bottom: 24px;
  }

  &__text {
    @include text;

    margin-bottom: 40px;
  }

  &__form {
    margin-bottom: 100px;
  }

  &__map-box {
    grid-column: 1 / 13;

    height: 800px;

    position: relative;
  }

  &__map {
    position: absolute;
  }

  &__parallax-box {
    grid-column: 1 / 7;

    position: relative;
    z-index: -10;
  }

  &__parallax {
    position: absolute;
  }
}