@import '../../utilities.scss';

@mixin arrow-spinner-wrapper {
  background-color: $active-color;
  border-radius: 100px;
  padding: 16px 24px;

  display: flex;
  justify-content: right;
  align-items: center;

  @include tablet {
    padding: 8px 16px;
  }
}

.button-consultation {
  border: none;
  outline: none;

  width: max-content;
  height: 80px;

  padding: 10px 30px 10px 40px;

  cursor: pointer;

  background-color: $button-color;
  border-radius: 100px;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: all .5s;
  animation-direction: alternate;

  @include tablet {
    height: 52px;

    padding: 10px 30px 10px 22px;
  }

  &__name {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;

    transition: all .5s;
    transform: translateX(30px);

    @include tablet {
      line-height: normal;
    }
  }

  &__arrow {
    @include arrow-spinner-wrapper;

    transition: all .5s;

    transform: scale(0);
  }

  &:hover &__name {
    transform: translateX(-10px)
  }

  &:hover &__arrow {
    transform: scale(1);
  }

  @include tablet {
    &:hover {
      padding: 10px 30px 10px 40px;
    }
  }

  &--disable {
    background-color: $disabled-color;
    pointer-events: none;
  }

  &--disable &__arrow {
    transform: scale(0);
  }

  &--submiting {
    pointer-events: none;
  }

  &--submiting &__name {
    transform: translateX(-10px)
  }

  &--submiting &__arrow {
    transform: scale(1);
  }

  &--submiting &__arrow-icon {
    animation: flyArrow linear 1s infinite;

    @include tablet {
      animation: flyArrowForTablet linear 1s infinite;
    }
  }
}

@keyframes flyArrow {
  0% {
    transform: translateX(-120%) scale(1);
  }
  100% {
    transform: translateX(130%) scale(0.2);
  }
}

@keyframes flyArrowForTablet {
  0% {
    transform: translateX(-80%) scale(1);
  }
  100% {
    transform: translateX(110%) scale(0.2);
  }
}