@import '../../utilities.scss';

@mixin arrow-spinner-wrapper {
  background-color: $active-color;
  border-radius: 100px;
  padding: 16px 24px;

  display: flex;
  justify-content: right;
  align-items: center;
}

.button-consultation {
  border: none;
  outline: none;

  width: 384px;
  height: 80px;

  padding: 10px 40px;

  cursor: pointer;

  background-color: $button-color;
  border-radius: 100px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  transition: all .5s;

  &__name {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
  }

  &__arrow {
    @include arrow-spinner-wrapper;

    transition: all .5s;
  }

  &:hover &__arrow {
    padding-left: 100px;
  }

  &:active {
    background-color: $active-color;
  }

  &--disable {
    background-color: $disabled-color;
    pointer-events: none;

    transition: all 0s;
  }

  &--disable &__arrow {
    display: none;
  }

  &__spinner {
    @include arrow-spinner-wrapper;
  }

  &__spinner-icon {
    animation: moveSpinner linear .8s infinite;
  }

  &--block-submit {
    pointer-events: none;
  }
}

@keyframes moveSpinner {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}